<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Gateway</display-name>
  
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.gateway.GetUserServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/GetUserServlets</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.gateway.SecondServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/secondServlet</url-pattern>
  </servlet-mapping>
  
  <!-- For Signup operation -->
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.gateway.ui.SignupUi</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  
  <!-- For login operation -->
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.gateway.ui.LoginUi</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <!-- Home page -->
  <servlet>
  	<servlet-name>Home</servlet-name>
  	<servlet-class>com.gateway.ui.HomeUi</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping> 
  
  <!-- Add question in Home page -->
  <servlet>
  	<servlet-name>Add-Question</servlet-name>
  	<servlet-class>com.gateway.ui.AddQuestionUi</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Add-Question</servlet-name>
  	<url-pattern>/addQuestion</url-pattern>
  </servlet-mapping>
  
  <!-- View Question in Home page -->
  <servlet>
  	<servlet-name>ViewQuestion</servlet-name>
  	<servlet-class>com.gateway.ui.ViewQuestionUi</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewQuestion</servlet-name>
  	<url-pattern>/viewQuestion</url-pattern>
  </servlet-mapping>
  <!-- For Search Operation -->
  <servlet>
  	<servlet-name>Search</servlet-name>
  	<servlet-class>com.gateway.ui.SearchUi</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Search</servlet-name>
  	<url-pattern>/search</url-pattern>
  </servlet-mapping>
  <!-- For Edit or delete the question -->
   <servlet>
  	<servlet-name>EditOrDelete</servlet-name>
  	<servlet-class>com.gateway.ui.EditOrDeleteUi</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditOrDelete</servlet-name>
  	<url-pattern>/editOrDelete</url-pattern>
  </servlet-mapping>
  <!-- For Post answer -->
   <servlet>
  	<servlet-name>AddAnswer</servlet-name>
  	<servlet-class>com.gateway.ui.AddAnswerUi</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddAnswer</servlet-name>
  	<url-pattern>/addAnswer</url-pattern>
  </servlet-mapping>
  <!-- To view Answer -->
  <servlet>
	  <servlet-name>ShowAnswer</servlet-name>
	  <servlet-class>com.gateway.ui.AnswerUi</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>ShowAnswer</servlet-name>
	  <url-pattern>/answer</url-pattern>
  </servlet-mapping>
</web-app>