
.navbar-inverse .navbar-nav>li>a{
	color:#fef8f8
}
.navbar-inverse .navbar-brand {
	color:#fefefe
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	color: #2956a7;
	background-color: #ffffff;

}